<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
	<contextName>logviewer</contextName>
	<property name="logDir" value="${logDir}" />
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="rollingFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/log.log</file>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/log%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
 
	<root level="debug">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>